@tailwind base;
@tailwind components;
@tailwind utilities;

.select {
  -webkit-appearance: none; /* iOS */
  -moz-appearance: none; /* Android */
  appearance: none; /* Web */

  background-color: white;
}
