@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  height: 6000px;
  @apply tracking-normal;
}

.select {
  -webkit-appearance: none; /* iOS */
  -moz-appearance: none; /* Android */
  appearance: none; /* Web */

  background-color: white;
}

.ant-image-preview-wrap {
  background-color: rgba(0, 0, 0, 0.8);
}

img {
  object-fit: cover !important;
}

.section-three,
.section-two,
.section-four,
.section-five {
  @apply grid grid-cols-1 max-lg:gap-y-6 max-xl:p-5 lg:grid-cols-2 m-auto pt-[120px];
}
.section-three,
.section-two {
  @apply lg:max-w-6xl;
}

.section-card-wrapper {
  @apply flex flex-col justify-center space-y-6;
}
.section-image-wrapper {
  @apply flex justify-center items-center;
}
.tabInfo {
  @apply flex justify-center items-center bg-gray-300  px-2 py-1 text-xs uppercase rounded-md w-[80px];
}
.section-ten .tabInfo {
  @apply w-full;
}
.section-card-header {
  @apply text-2xl md:text-[32px] xl:text-[42px] xl:leading-[48px];
}
.section-card-para {
  @apply text-gray-500;
}

.section-two,
.section-three {
  @apply gap-x-5 xl:gap-x-16;
}
.section-four {
  @apply max-xl:gap-x-5;
}
.section-five {
  @apply max-xl:gap-x-5  pt-3;
}
.section-card-wrapper.five {
  @apply max-xl:gap-x-5 xl:pl-36;
}
.section-card-wrapper.four {
  @apply xl:lg:pl-16;
}

.section-card-wrapper.five,
.section-card-wrapper.three {
  @apply order-2 lg:order-1;
}

.section-image-wrapper.five,
.section-image-wrapper.three {
  @apply order-1 lg:order-2;
}

/* Path: src/app/components/SectionSix.jsx */

.section-six {
  @apply flex justify-center max-md:flex-col items-center max-md:space-y-4 md:space-x-16 my-8 md:my-24 py-8 md:py-16;
}
.section-six .block {
  @apply flex flex-col justify-center items-center;
}
.section-six .header {
  @apply text-2xl font-bold md:text-[32px] xl:text-[42px] xl:leading-[48px];
}

/* Path: src/app/components/SectionSeven.jsx */

.section-seven {
  @apply pt-[0px];
}

/* Path: src/app/components/SectionEight.jsx */

.section-eight {
  @apply flex flex-col justify-center md:items-center max-md:p-5 space-y-12 m-auto lg:max-w-6xl;
}

.section-eight .blocks-wrapper {
  @apply flex md:flex-row flex-col justify-between  items-start md:items-center mt-[30px] md:mt-[120px] max-md:space-y-1 md:space-x-16 xl:space-x-36 md:m-auto lg:max-w-6xl;
}

.section-eight .block {
  @apply space-y-1 md:space-y-3;
}
